.sdCardContainer {
	position: absolute;
	bottom: 0;
	left: -100px;
	width: 100px;
	height: 100px;
	overflow-y: clip;
	z-index: -1;
	opacity: 0.2;
	transition: opacity 0.3s ease-in-out;
}

.sdCardContainer:hover {
	z-index: 1;
	opacity: 1;
}

.sdCard {
	position: absolute;
	height: 100px;
	width: 65px;
	top: 50%;
	border-radius: 7px;
	transition: top 0.7s ease-in-out;
}

.sdCard:hover {
	top: 0;
}
